{% if page.author == "emrearda" %}
<section class="author-box">
  <img src="{{site.baseurl}}/assets/img/emrearda-face.jpg" alt="{{site.author}}" class="author-img">
  <div class="author-desc">
    <h2>Emre ARDA</h2>
    <p>3 yıldır arduino ve mikrodenetleyiciler ile uğraşıyorum. Elektromekanik alan ile 2 yılımı geçirdim. Son
      1 yıldır ise entegre ve tümleşik komponentler ile çalışıyorum.</p>
    <ul>
        <li class="email"><a href="mailto:emrearda18@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
        <li class="instagram"><a href="http://instagram.com/emreardailcigen" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</section>
{% elsif page.author == "dilruba" %}
<section class="author-box">
  <img src="{{site.baseurl}}/assets/img/dilruba-face.jpg" alt="{{site.author}}" class="author-img">
  <div class="author-desc">
    <h2>Dilruba DEMİRCİ</h2>
    <p>3 yıldır ebru sanatı ile ilgilenmekle birlikte ve edebiyata yakından ilgim var bunun yanında okuduğum
      üniversitenin bünyesinde bulunan tiyatro kulübünde aktif üyeyim.</p>
  </div>
</section>
{% elsif page.author == "tahayasir" %}
<section class="author-box">
  <img src="{{site.baseurl}}/assets/img/tahayasir-face.jpg" alt="{{site.author}}" class="author-img">
  <div class="author-desc">
    <h2>Taha YASİR</h2>
    <p>SBKY bölümü öğrencisiyim. 20 yaşındayım. Teorik bilginin yanı sıra halkın iç sesini kendime yön edinirim.</p>
    <ul>
      <li class="email"><a href="mailto:semihayasir31@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
      <li class="instagram"><a href="https://instagram.com/tahayasirklc" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li class="twitter"><a href="https://twitter.com/tahayasirklc" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</section>
{% elseif page.author == "emresayilkan" %}
<section class="author-box">
  <img src="{{site.baseurl}}/assets/img/emresayilkan-face.jpg" alt="{{site.author}}" class="author-img">
  <div class="author-desc">
    <h2>Emre SAYILKAN</h2>
    <p>Çocukluktan gelen aşırı merak,ilgi,bilinmezliklere karşı hassasiyet fark etmeden beni okur yazar yaptı.Edebiyat,felsefe,sinema,işletme aikido,yemek,gezmek,tiyatro ,siir gibi bu dallarda ve etkileşimleri ile aşırı derecede tutkum var.Deneyimlerimi,fikirlerimi ilk kez burada paylaşacağım.</p>
  </div>
</section>
{% else %}
<section class="author-box">
  <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="{{site.author}}" class="author-img">
  <div class="author-desc">
    <h2>{{site.author}}</h2>
    <p>{{site.about-author}}</p>
    <ul>
      {% if site.email %}
        <li class="email"><a href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i></a></li>
      {% else %}
        <li class="email"><a href="mailto:example.adam@blog.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.phone %}
        <li class="phone"><a href="tel:{{site.phone}}"><i class="fa fa-phone"></i></a></li>
      {% else %}
        <li class="phone"><a href="tel:044 825 5523"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.website %}
        <li class="website"><a href="http://{{site.website}}" target="_blank"><i class="fa fa-globe"></i></a></li>
      {% else %}
        <li class="website"><a href="https://artemsheludko.github.io" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.twitter %}
        <li class="twitter"><a href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
      {% else %}
        <li class="twitter"><a href="https://twitter.com/artemsheludko_" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      {% endif %}
    </ul>
  </div>
</section>
{% endif %}